body {
    overflow-x: hidden;
    margin: 0;
}

.d-none {
    display: none;
}

.background-div {
    width: 100vw;
    height: 100vh;
    background: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 453px;
    height: 91.8vh;
    left: 232px;
    top: 89px;
    background: #FFFFFF;
    box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08);
    z-index: 1;
    overflow: auto;
}

.scroll-beam {
    position: absolute;
    width: 0px;
    height: 53px;
    left: 425px;
    top: 77px;
    border: 7px solid #A8A8A8;
    border-radius: 3px;
}

.new-contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    position: absolute;
    width: 193px;
    height: 53px;
    right: 52px;
    top: 904px;
    background: #2A3647;
    border: 1px solid #2A3647;
    border-radius: 10px;
    cursor: pointer;
}

.overlay-new-contact {
    position: absolute;
    right: 10vh;
    top: 25vh;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 1212px;
    height: 594px;
    background: #FFFFFF;
    transform: translateX(94vw);
    transition: all 225ms ease-in-out;
    border-radius: 30px;
}

.show-overlay-menu {
    transform: translateX(0);
}

.new-contact-name {
    line-height: 120%;
    font-weight: 700;
    font-family: inter;
    color: white;
    height: 25px;
    width: 130px;
    font-size: 20px;
}

.new-contact-overlay-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    isolation: isolate;
    position: absolute;
    width: 463px;
    height: 594px;
    left: 0px;
    top: 0px;
    background: #2A3647;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-left: 40px;
}

.add-contact-overlay {
    flex: none;
    flex-grow: 0;
    z-index: 0;
    color: #FFFFFF;
    width: 366px;
    height: 73px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    margin: 0;
}

.new-contact-overlay-text {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 120%;
    width: 371px;
    height: 32px;
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
    color: #FFFFFF;
}

.new-contact-overlay-input {
    display: flex;
    flex-direction: column;
}

.new-contact-overlay-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    isolation: isolate;
    position: absolute;
    width: 120px;
    height: 120px;
    left: 533px;
    top: 204px;
    background: #FFFFFF;
    border: 3px solid #FFFFFF;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 10%);
    border-radius: 70px;
}

.overlay-input-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 422px;
    height: 71px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-right: 50px;
}

.overlay-input {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 21px;
    gap: 10px;
    width: 422px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    cursor: text;
    outline: none;
}

.overlay-contact-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.overlay-button-cancel-div {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    width: 136px;
    height: 61px;
    border: 1px solid #2A3647;
    border-radius: 10px;
    flex: none;
    order: 0;
    flex-grow: 0;
    background-color: white;
    cursor: pointer;
}

.overlay-button-cancel {
    width: 69px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #2A3647;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.overlay-button-create-contact-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    width: 208px;
    height: 61px;
    background: #2A3647;
    border-radius: 10px;
    flex: none;
    order: 1;
    margin-right: 50px;
    cursor: pointer;
}

.overlay-button-create-contact {
    width: 154px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.input-overlay-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 380px;
    height: 25px;
    flex: none;
    order: 0;
}

.overlay-input-name-img {
    margin-left: -50px;
}

.close-x {
    height: 20px;
    top: 26px;
    position: absolute;
    right: 0;
    margin-right: 50px;
    cursor: pointer;
}

.contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 25px;
    gap: 35px;
    width: 357px;
    height: 79px;
    background: #FFFFFF;
    border-radius: 10px;
    flex: none;
    order: 3;
    flex-grow: 0;
    cursor: pointer;
}

.contacts-box :hover {
    background-color: lightgray;
}

.contacts-div-box {
    width: 63vw;
    height: 91.8vh;
    position: absolute;
    top: 8vh;
    left: 37vw;
}

.contacts-name {
    width: 274px;
    height: 73px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    color: #000000;
    margin: 0;
}

.better-with {
    width: 270px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 120%;
    color: #2A3647;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0;
}

.contacts-div-box-name {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 100px;
    position: absolute;
    top: 45px;
}

.contacts-name-img {
    margin-left: 20px;
    margin-right: 20px;
}

.contact-data {
    top: 176px;
    position: absolute;
    width: 63vw;
    height: 59vh;

}

.contactlist-name {
    width: 200px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.contactlist-email {
    width: 200px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #007CEE;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.contact-data-name {
    width: 400px;
    height: 56px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 47px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: 281px;
}

.contact-data-email {
    width: 250px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #007CEE;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-left: 207px;
    cursor: pointer;
    margin-top: 10px;
}

.contact-data-phone {
    width: 200px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #000000;
    flex: none;
    order: 1;
    margin-left: 150px;
    position: relative;
    margin-top: 10px;
}

.add-task-div {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.add-task {
    width: 100px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #29ABE2;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-left: 20px;
    cursor: pointer;
}

.add-task-img {
    margin-left: 281px;
}

.contact-first-last-name-div {
    position: absolute;
    width: 120px;
    height: 120px;
    left: 0px;
    top: 0px;
    background: #FF7A00;
    border-radius: 180px;
    left: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-first-last-name {
    position: absolute;
    width: 80px;
    height: 28.57px;
    left: 20px;
    top: 45.71px; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 120%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.contact-information {
    width: 207px;
    height: 74px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-right: 70px;
}

.contact-information-edit {
    margin-top: 40px;
    margin-left: 100px;
    display: flex;
    align-items: center;
}

.edit-contact {
    width: 170px;
    height: 37px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #2A3647;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.edit-contact-img {
    margin-right: 5px;
}

.letterbox {
    display: flex;
    align-items: center;
}

.latterbox-contact-div {
    box-sizing: border-box;
    width: 42px;
    height: 42px;
    background: #FF7A00;
    border: 1px solid #FFFFFF;
    border-radius: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.latterbox-contact {
    width: 28px;
    height: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 120%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.openContact {
    margin-left: 40px;
}

.email-div {
    width: 245px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.email {
    width: 43px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.phone-div {
    width: 245px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.phone {
    width: 50px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}